{% extends 'base/base.html' %}

{% from 'macros/table-macros.html' import table_head %}
{% from 'macros/order-macros.html' import service_order %}

{% block content %}

    <div class="row">
        <div class="col-12">

        <div class="card mb-4">
            <div class="card-header pb-0 text-center">
            
                <h6>Track service orders</h6>
            </div>

            <div class="card-body px-0 pt-0 pb-2">
            
                <div class="table-responsive p-0">
            
                    <table class="table align-items-center mb-0">
                        
                        {% if 'student_data' in session %}
                            
                            {{ table_head(["Service", "Price", "Order Status", "Date", ""]) }}

                        {% elif 'staff_data' in session %}

                            {{ table_head(["Student", "Service", "Price", "Order Status", "Date", ""]) }}

                        {% endif %}

                        <tbody style="text-align: center;">
                            {% for order in orders %}
                                {{ service_order(order, status_modes) }}
                            {% endfor %}
                        </tbody>

                    </table>
    
                </div>
    
            </div>
    
        </div>
    
    </div>
    
</div>
{% endblock content %}
