{% extends 'base/base.html' %}

{% from 'macros/table-macros.html' import table_head %}
{% from 'macros/order-macros.html' import product_order %}

{% block content %}
    
    <div class="row">
        <div class="col-12">

        <div class="card mb-4">
            <div class="card-header pb-0 text-center">
            
                <h6>Track Orders</h6>
            </div>

            <div class="card-body px-0 pt-0 pb-2">
            
                <div class="table-responsive p-0">
            
                    <table class="table align-items-center mb-0">
            
                        {{ table_head(["Product", "Price", "Order Status", "Date", ""]) }}

                        <tbody style="text-align: center;">
                            {% for order in orders %}
                                {{ product_order(order) }}
                            {% endfor %}
                        </tbody>

                    </table>
    
                </div>
    
            </div>
    
        </div>
    
    </div>
    
</div>
{% endblock content %}
