{% extends 'base/base.html' %}

{% from 'macros/table-macros.html' import table_head %}
{% from 'macros/service-macros.html' import service_info %}
{% from 'macros/modal-macros.html' import edit_service %}

{% block more_modals %}

    {% for service in services %}
        {{ edit_service(service) }}
    {% endfor %}

{% endblock more_modals %}

{% block content %}
<div class="row">
    <div class="col-12">

    <div class="card mb-4">
        <div class="card-header pb-0 text-center">
        
            <h6>Services</h6>
        </div>

        <div class="card-body px-0 pt-0 pb-2">
        
            <div class="table-responsive p-0">
        
                <table class="table align-items-center mb-0">
        
                    {{ table_head(["Service", "Price", "Date"]) }}

                    <tbody style="text-align: center;">
                        {% for service in services %}
                            {{ service_info(service) }}
                        {% endfor %}
                    </tbody>

                </table>

            </div>

        </div>

    </div>

</div>

</div>
{% endblock content %}
