{% extends 'base/auth-base.html' %}
{% from 'macros/form-macros.html' import input %}
{% from 'macros/base-macros.html' import flash_messages %}


{% block content %}

    <div class="card card-plain mt-8">

        <div class="card-header pb-0 text-left bg-transparent">

            <h2 class="font-weight-bolder text-logo">BU Pay</h2>

            <p class="mb-0">Student's Sign-in</p>

        </div>

        <div class="card-body">

            <form role="form" action="" method='POST'>
                
                {{ flash_messages() }}

                {{ input({'label': 'Matric No', 'type':'text', 'name':'matric'}) }}
                {{ input({'label': 'Password', 'type': 'password', 'name': 'pass'}) }}

                <div class="text-center">

                    <button type="submit" class="btn btn-primary w-100 mt-4 mb-0">Sign in</button>

                </div>

            </form>

        </div>

    </div>

{% endblock content %}
