{% from 'macros/base-macros.html' import header, scripts, flash_messages %}
{% from 'macros/sidebar-macros.html' import sidebar %}
{% from 'macros/navbar-macros.html' import navbar %}
{% from 'macros/modal-macros.html' import modal %}
{% from 'macros/form-macros.html' import form %}
{% from 'macros/order-macros.html' import place_order %}

<html lang="en">

    <head>
        <title>
            EduPay - {% block window_title %} Welcome {% endblock window_title %}
        </title>

        {{ header() }}
    </head>

    <body class="g-sidenav-show  bg-gray-100">


        {% block sidebar_stage %}

            {% set change_pass_form = [{'name': 'pwd', 'label': 'New Password'}] %}

            {{ modal(
                'edit_profile',
                "Edit Profile", 
                form(url_for('change_pwd'), change_pass_form, 'Save Changes', 'POST')
            ) }}
    
            {% if 'student_data' in session %}

                {{ modal('place_order', "Place Order", place_order(products)) }}

            {% elif 'staff_data' in session %}

                {% set product_form = [
                    {'name': 'name', 'type': 'text', 'required': "true", 'label': 'Name'},
                    {'name': 'price', 'type': 'number', 'required': "true", 'label': 'Price'}
                ]
                %}

                {{ modal(
                    'upload_product', 
                    'Upload Product', 
                    form('/products', product_form, 'Upload Product', 'POST')
                ) }}

            {% endif %}

            {% block more_modals %}
            {% endblock more_modals %}

            {{ sidebar() }}

        {% endblock sidebar_stage %}

        {% block main_stage %}

            <main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
    
                {% block navbar_stage %}
                    {{navbar()}}
                {% endblock navbar_stage %}
    
                <div class="container-fluid py-4">
                    {{ flash_messages() }}
                    {% block content %}

                    {% endblock content %}
                </div>

            </main>

        {% endblock main_stage %}

        {{scripts()}}
    </body>

</html>
