{% set neutral_status = ['PROCESSING'] %}
{% set positive_status = ['APPROVED', 'READY', 'COLLECTED'] %}
{% set negative_status = ['DISAPPROVED', 'CANCELLED'] %}

{% macro product_order(order, status_modes) %}
    {% if 'student_data' in session %}
        {{ student_view_order(order) }}
    {% elif 'staff_data' in session %}
        {{ staff_view_order(order, status_modes) }}
    {% endif %}

{% endmacro %}

{% macro student_view_order(order) %}

    <tr>
        <td>
            <p class="text-xs font-weight-bold mb-0">{{order.product.name}}</p>
        </td>

        <td>
            <p class="text-xs font-weight-bold mb-0">{{order.product.price}}</p>
        </td>

        <td class="align-middle text-center text-sm">
            {% if order.status.tag in neutral_status %}
                <span class="badge badge-sm bg-gradient-secondary">{{order.status.tag}}</span>
            {% elif order.status.tag in positive_status %}
                <span class="badge badge-sm bg-gradient-primary">{{order.status.tag}}</span>
            {% else %}
                <span class="badge badge-sm bg-gradient-danger">{{order.status.tag}}</span>
            {% endif %}
        </td>

        <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{order.date_created}}</span>
        </td>
    </tr>
{% endmacro %}

{% macro staff_view_order(order, status_modes) %}
    
    <tr>

        <td>
            <p class="text-xs font-weight-bold mb-0">{{order.student.matric}}</p>
        </td>

        <td>
            <p class="text-xs font-weight-bold mb-0">{{order.product.name}}</p>
        </td>

        <td>
            <p class="text-xs font-weight-bold mb-0">{{order.product.price}}</p>
        </td>

        <td>
            <select class="text-xs font-weight-bold mb-0" onchange="location = this.value">
                {% for status in status_modes %}
                    <a>
                    {% if status.id == order.status.id %}

                        <option value="{{url_for('change_order_status', order_id=order.id, status_id=status.id)}}" selected>
                            {{status.tag}}
                        </option>

                    {% else %}
                        <option value="{{url_for('change_order_status', order_id=order.id, status_id=status.id)}}">
                            {{status.tag}}
                        </option>
                    {% endif %}
                    </a>

                {% endfor %}
            </select>
        </td>

        <td class="align-middle text-center">
            <span class="text-secondary text-xs font-weight-bold">{{order.date_created}}</span>
        </td>

    </tr>
{% endmacro %}

{% macro place_order(products) %}
    <script>
        var email = `{{session.student_data.email}}`
        var product = {
            id: 0,
            amount: 100,
            name: "",
            set: function(id, amount, name) {
                this.id = id;
                this.amount = amount;
                this.name = name;
            }
        };
    </script>

    <select class="form-control" required>

        <option value="" selected>-- Select an Option --</option>

        {% for product in products %}
            <option value="{{product.id}}"
                onclick="product.set(`{{product.id}}`, `{{product.price}}`, `{{product.name}}`)">
                {{product.name}} - {{product.price}}
            </option>
        {% endfor %}

    </select>

    <br />

    <button class="btn btn-primary form-control" onclick="payWithPaystack(product, email)">Pay</button>
{% endmacro %}
