
{% macro product_info(product) %}

<tr>

    <td>
        <p class="text-xs font-weight-bold mb-0">{{product.name}}</p>
    </td>

    <td>
        <p class="text-xs font-weight-bold mb-0">{{product.price}}</p>
    </td>

    <td class="align-middle text-center">
        <span class="text-secondary text-xs font-weight-bold">{{product.date_created}}</span>
    </td>

    <td class="align-middle">
        <a data-toggle="modal" href="#edit_{{product.id}}" 
            class="text-secondary font-weight-bold text-xs">
            Edit
        </a>
    </td>

    <td class="align-middle">
        <a href="{{url_for('products')}}?pop={{product.id}}" class="text-secondary font-weight-bold text-xs">
            Delete
        </a>
    </td>

</tr>
{% endmacro %}