{% macro table(title, columns) %}

    <div class="card mb-4">
        <div class="card-header pb-0">
            <h6>{{ title }}</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
            <div class="table-responsive p-0">
                <table>
                    {{ table_head(columns) }}
                </table>
            </div>
        </div>
    </div>
{% endmacro %}

{% macro table_head(columns) %}
    <thead>
        <tr>
            {% for col in columns %}

                {% if col == '' %}
                    <th class="text-secondary opacity-7"></th>
                {% else %}
                    <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                        {{col}}
                    </th>
                {% endif %}

            {% endfor %}
        </tr>
    </thead>
{% endmacro %}

